<!-- ======= Services Section ======= -->
<section class="services">
    <div class="container">

        <div class="row">
            <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="fade-up">
                <div class="icon-box icon-box-pink">
                    <div class="icon"><i class="bx bx-file"></i></div>
                    <h4 class="title"><a href="">Individual</a></h4>
                    <p class="description">Uncover the mysterious of one.</p>
                </div>
            </div>

            <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
                <div class="icon-box icon-box-cyan">
                    <div class="icon"><i class="bx bx-world"></i></div>
                    <h4 class="title"><a href="https://localhost:44327/Companies">Company</a></h4>
                    <p class="description">Know more about your employer</p>
                </div>
            </div>

            <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
                <div class="icon-box icon-box-green">
                    <div class="icon"><i class="bx bx-landscape"></i></div>
                    <h4 class="title"><a href="">Land</a></h4>
                    <p class="description">Mdau, pata habari kuhusu hiyo sehemu ya ardhi.</p>
                </div>
            </div>

            <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
                <div class="icon-box icon-box-blue">
                    <div class="icon"><i class="bx bx-file"></i></div>
                    <h4 class="title"><a href="">Machinery</a></h4>
                    <p class="description">Bazu, know a little bit more about the machinery.</p>
                </div>
            </div>

            <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
                <div class="icon-box icon-box-blue">
                    <div class="icon"><i class="bx bx-world"></i></div>
                    <h4 class="title"><a href="">Intellectual Property</a></h4>
                    <p class="description">Bazu, be aware of infringement of rights</p>
                </div>
            </div>

        </div>

    </div>
</section><!-- End Services Section -->
<!-- ======= Why Us Section ======= -->
<section class="why-us section-bg" data-aos="fade-up" date-aos-delay="200">
    <div class="container">

        <div class="row">
            <div class="col-lg-6 video-box">
                <img src="assets/img/service-details-1.jpg" class="img-fluid" alt="">
                <a href="https://www.youtube.com/watch?v=VI_mhZTYGf8" class="venobox play-btn mb-4" data-vbtype="video" data-autoplay="true"></a>
            </div>

            <div class="col-lg-6 d-flex flex-column justify-content-center p-5">

                <div class="icon-box">
                    <div class="icon"><i class="bx bx-fingerprint"></i></div>
                    <h4 class="title"><a href="">Data Ghala</a></h4>
                    <p class="description">Let's put it as god's eye. You will know so much by accessing digitalized information.</p>
                </div>

            </div>
        </div>

    </div>
</section><!-- End Why Us Section -->